html{
    scroll-behavior: smooth;
}
/* The navigation bar */
#navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

#addPost{
    background-color: rgba(0, 0, 0, 0);
}
  
 